<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="webjars/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Home</title>
</head>
<body>
	<section>
	 	<div class="container">
	 		<div class="col text-center">
	 			<h1>Pagina di test per deploy con Openshift</h1>
	 			<p>Upload del progetto con <strong>S2I</strong></p>
	 		</div>
	 	</div>
	</section>

</body>
</html>